<script>const ch_key = "<%= @ch_key %>";</script>
<div id="host">
<h1>RemoSound Host</h1>
<p><%= link_to 'グラフ', graph_path(@key) %>
<p><textarea rows=1 cols=100 onclick="this.select()"><%= guest_url(@ch_key) %></textarea>
<div id='choice'>
  <button id="unlock">connect</button>
  <label><input type='radio' name='choice' checked>none</label>
  <label><input type='radio' name='choice'>bell</label>
  <label><input type='radio' name='choice'>coin</label>
  <label><input type='radio' name='choice'>fuyuu</label>
  <label><input type='radio' name='choice'>kane</label>
  <label><input type='radio' name='choice'>osaisen</label>
  <label><input type='radio' name='choice'>namuami</label>
</div>
<div id='log'></div>
</div>