<div id="host">
<h1>RemoSound Host</h1>
<div id='choice'>
  <label><input type='radio' name='choice' checked>none</label>
  <label><input type='radio' name='choice'>gakki2</label>
  <label><input type='radio' name='choice'>gakki4</label>
</div>
<div id='log'></div>
<button id="unlock">connect</button>
</div>