<div id="host">
<h1>RemoSound Host</h1>
<div id='choice'>
  <input type='radio' name='choice' id='none' checked>
  <label for='none'>none</label>
  <input type='radio' name='choice' id='cheer' >
  <label for='cheer'>cheer</label>
  <input type='radio' name='choice' id='applause'>
  <label for='applause'>applause</label>
</div>
<div id='log'></div>
<button id="unlock">connect</button>
</div>