<div id="host">
<h1>RemoSound Host</h1>
<div id='choice'>
  <label><input type='radio' name='choice' checked>none</label>
  <label><input type='radio' name='choice'>bell</label>
  <label><input type='radio' name='choice'>coin</label>
  <label><input type='radio' name='choice'>fuyuu</label>
  <label><input type='radio' name='choice'>kane</label>
  <label><input type='radio' name='choice'>osaisen</label>
  <label><input type='radio' name='choice'>namuami</label>
</div>
<div id='log'></div>
<button id="unlock">connect</button>
</div>