<h1>RemoSound</h1>
<div id='buttons'>
  <div style='--aspect-ratio:4/3'>
    <button onclick="send('cheer')">拍手</button>
  </div>
  <div style='--aspect-ratio:4/3'>
    <button onclick="send('applause')">歓声</button>
  </div>
</div>
