/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// https: ; //css-tricks.com/aspect-ratio-boxes/#using-custom-properties
[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}
[style*='--aspect-ratio'] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
  }
  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
#host {
  #unlock {
    background: gray;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    border-radius: 1rem;
    font-size: 10vw;
  }
}

#guest {
  margin: 2rem;
  > div {
    height: 40vh;
    margin-top: 2rem;
    width: 100%;
    button {
      user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout:none;
      border-radius: 1rem;
      font-size: 4rem;
      height: 100%;
      width: 100%;
    }
  }
  .row {
    display: flex;
    button {
      height: 100%;
      width: 100%;
    }
  }
}
